$block-color: #1E1E1E;
$bright-background: #1D1D1D;
$dark-background: #121212;
$active-color: #C1B7D5;
$second-active-color: #9E96AD;
$transition-time: 250ms;
$block-shadow-color: rgba(#000, .25);
$negative-background: #2D1616;
$negative-active: #C40000;
$other-text-color: #fff;
$positive-active: #009D05;
$bright-green: #00FF73;
$my-time-color: #4C514A;
$other-time-color: #4C514A;
$footer-bg: #1F1F1F;
